@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

[data-testid="carousel-right-control"] > span,
[data-testid="carousel-left-control"] > span {
  background-color: #F7F7F7 !important;
  width: 2rem !important;
  height: 2rem !important;
}

[data-testid="carousel-right-control"]:hover > span,
[data-testid="carousel-left-control"]:hover > span {
  background-color: white!important;
}

[data-testid="carousel-left-control"]:focus > span,
[data-testid="carousel-right-control"]:focus > span {
  outline: none!important;
  box-shadow: none!important;
}

[data-testid="carousel-right-control"] svg,
[data-testid="carousel-left-control"] svg {
  color: gray!important;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}
